$darkTransparent: rgba(0,0,0,0.5);
$mainAccent: #2e84ed;
$secondaryAccent: #81919f;

/* Titles,text,etc */
.navbar-brand, h1,h2,h3,h4,h5,p,a {
    font-family: 'Spartan';
}
.article-title {
    margin: 13px 0 8px 0;
    font-size: 1.275rem;
    color: $mainAccent;
}
.pageTitle, .navbar-brand {
    color: $mainAccent !important;
    text-transform: uppercase;
}
.navbar-brand {
    font-weight: 500;
}
a {
    text-decoration: none !important;
}

/* Containers&Seperators */
.card {
    margin: 21px;
}
.keyword-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $mainAccent;
    padding: 5px 13px;
    margin: 3px;
    border-radius: 5px;
    transition: 0.2s linear;
    &:hover {
        background-color: rgba($color: $mainAccent, $alpha: 0.9);
        color: #fff;
        cursor: pointer;
    }
}
.article-box {
    border-bottom: 1px solid $mainAccent;
    h4 {
        font-size: 1.1rem;
        margin-bottom: 13px;
    }
    .articles-footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .date, .author {
            font-size: 0.75rem;
            margin-bottom: 5px;
            color: $secondaryAccent;
        }

    }
}
.seperator {
    margin: 21px 0;
}



